* {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    height: 500px;
}
div {

    
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid bisque;
}
.header {
    margin: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
}
button {
    background-color: plum;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
h1 {
    color: plum;
}
.box {
  width: 500px;
  height: 100%;
  margin: 5px auto;
  background-color: beige;
  padding: 5px;
  text-align: flex-start;
  color: rgb(0, 0, 0);

  position:relative;
}
input {
    display: flex;
    border: 2px solid rgb(194, 148, 148);
    height: 20px;
    border-radius: 4px;
    justify-content: space-between;
}
.boxdois {
    width: 100px;
}
.boxtres {
    width: 300px;
}
footer {
    display: flex;
    justify-content: center;
    position: bottom;
}